


.tumbler-container {
	position: fixed;
	top: 65px;
	left: 0px;
	right: 0px;
	height: 100%;
	padding-bottom: 65px;
}

.tumbler-container .well {
	height: 25%;
}
#tumbler.table {
	height: 75%;
}
#tumbler.table tr {
	height: 33%;
}

#tumbler.table th, 
#tumbler.table td {
  text-align: center;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	cursor: pointer;
	overflow: hidden;
}
#tumbler.table .btn {
	padding: 1px 5px 1px;
	margin: -3px;
	margin-right: -3px;
}

#tumbler td:hover span {
	opacity: 1;
	cursor: pointer;
}
#tumbler td span {
	opacity: 0.8;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

#tumbler td.incorrect {
	background-color: #e74c3c;
}
#tumbler td.correct {
	background-color: #2ecc71;
}

#tumbler span::selection{ background-color: transparent; }
#tumbler span::moz-selection{ background-color: transparent; }
#tumbler span::webkit-selection{ background-color: transparent; }
#tumbler td::selection{ background-color: transparent; }
#tumbler td::moz-selection{ background-color: transparent; }
#tumbler td::webkit-selection{ background-color: transparent; }
