<template name="admin">
	{{> registeredUsers}}
	<div class="row">
		<div class="masonry-wall masonry-cap-2">
			{{> availableGlyphs}}
			{{> possibleGlyphs}}
		</div>
	</div>
</template>

<template name="possibleGlyphs">
	<div class="masonry-brick">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Possible Glyphs: {{glyphCount}}</h5>
			</div>
			<table class="table table-default">
				<thead>
					<tr>
						<th></th>
						<th>Pop.</th>
						{{#each keysOf googleLangs}}
							<th>
								<span class="visible-sm visible-xs">{{shortLanguageName this}}</span>
								<span class="hidden-sm hidden-xs">{{languageName this}}</span>
							</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each glyphs}}
						<tr>
							<td>
								<button class="btn btn-default btn-sm save-possible-glyph">
									<i class="glyphicon glyphicon-chevron-left"></i>
								</button>
							</td>
							<td>
								{{this.pop}}
							</td>
							{{#each keysOf googleLangs}}
								{{#if equals this 'e'}}
									<td>
										{{#with propOfObj this ..}}
											{{englishOf this}}
										{{/with}}
									</td>
								{{else}}
									<td>{{propOfObj this ..}}</td>
								{{/if}}
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>

<template name="availableGlyphs">
	<div class="masonry-brick">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Available Glyphs: {{glyphCount}}</h5>
			</div>
			<table class="table table-default">
				<thead>
					<tr>
						<th></th>
						{{#each keysOf googleLangs}}
							<th>
								<span class="visible-sm visible-xs">{{shortLanguageName this}}</span>
								<span class="hidden-sm hidden-xs">{{languageName this}}</span>
							</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each glyphs}}
						<tr>
							<td>{{this.pop}}</td>
							{{#each keysOf googleLangs}}
								<td>{{propOfObj this ..}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>

<template name="registeredUsers">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Registered users: {{userNumber}}</h5>
			</div>
			<table class="table table-default">
				<thead>
					<tr>
						<th>Email</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{{#each userScores}}
						<tr>
							<td>{{#if profile.name}}{{profile.name}}{{else}}{{#each emails}}{{address}}{{/each}}{{/if}}</td>
							<td>{{profile.score}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>