<template name="admin">
	{{> registeredUsers}}
	<div class="row">
		{{> availableGlyphs}}
		{{> possibleGlyphs}}
	</div>
</template>

<template name="possibleGlyphs">
	<div class="col-sm-7 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Possible Glyphs: {{glyphCount}}</h5>
			</div>
			<table class="table table-default">
				<thead>
					<tr>
						<th></th>
						<th>P.</th>
						{{#each keysOf googleLangs}}
							<th>
								<span class="visible-sm visible-xs">{{tinyLanguageName this}}</span>
								<span class="hidden-sm hidden-xs">{{shortLanguageName this}}</span>
							</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each glyphs}}
						<tr>
							<td>
								<button class="btn btn-default btn-sm save-possible-glyph">
									<i class="glyphicon glyphicon-chevron-left"></i>
								</button>
							</td>
							<td>
								{{this.pop}}
							</td>
							{{#each keysOf googleLangs}}
								{{#if equals this 'e'}}
									<td class="eng-cell" lang="en">
										{{#with propOfObj this ..}}
											{{> englishCell engs=this}}
											{{> englishCell engs=../../ej text='J:'}}
											{{> englishCell engs=../../ec text='C:'}}
											{{> englishCell engs=../../ek text='K:'}}
											{{> englishCell engs=../../ekan text='Kan:'}}
										{{/with}}
									</td>
								{{else}}
									<td lang="{{googleLangOf this}}">{{propOfObj this ..}}</td>
								{{/if}}
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>

<template name="englishCell">
	{{#if engs}}
		{{#each engs}}
			<div>
				<a class="btn btn-link save-potential">
					{{#if ../text}}{{../text}} {{/if}}{{this}}
				</a>
			</div>
		{{/each}}
	{{/if}}
</template>

<template name="availableGlyphs">
	<div class="col-sm-5 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Available Glyphs: {{glyphCount}}</h5>
			</div>
			<table class="table table-default">
				<thead>
					<tr>
						<th></th>
						{{#each keysOf googleLangs}}
							<th>
								<span class="visible-sm visible-xs">{{tinyLanguageName this}}</span>
								<span class="hidden-sm hidden-xs">{{shortLanguageName this}}</span>
							</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each glyphs}}
						<tr>
							<td>{{this.pop}}</td>
							{{#each keysOf googleLangs}}
								<td lang="{{googleLangOf this}}">{{propOfObj this ..}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>

<template name="registeredUsers">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Registered users: {{userNumber}}</h5>
			</div>
			<table class="table table-default">
				<thead>
					<tr>
						<th>Email</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{{#each userScores}}
						<tr>
							<td>{{#if profile.name}}{{profile.name}}{{else}}{{#each emails}}{{address}}{{/each}}{{/if}}</td>
							<td>{{profile.score}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>