
<template name="signupWarning">
	{{#unless currentUser}}
		<div class="alert alert-danger open-create-account" data-toggle="collapse" data-target=".dropdown-menu" aria-expanded="false">
			Login to an account to keep your progress
		</div>
	{{/unless}}
</template>

<template name="games">
	<div class="row text-center">
		<div class="col-xs-12">
			{{#each this}}
				{{> gameLink}}
			{{/each}}
		</div>
	</div>
	{{> languageSelection}}
</template>

<template name="gameLink">
	<a class="btn btn-lg btn-default game-link" href="{{pathFor path}}">
		<i class="fa fa-{{icon}}"></i>
		<span>{{name}}</span>
	</a>
</template>

<template name="languageSelection">
	<div class="row text-center">
		<div class="col-xs-12 well top-margin">
			{{#each keysOf googleLangs}}
				{{#if arrayContains sessionLangs this}}
					<button class="btn btn-success toggle-language">
						{{shortLanguageName this}}
					</button>
				{{else}}
					<button class="btn btn-default toggle-language">
						{{shortLanguageName this}}
					</button>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>
