<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" sizes="16x16" href="/favicon.png?v=2">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Languagame - Learn chinese/japanese words/characters</title>
</head>

<body>
</body>

<template name="loading">
	Loading...
</template>

<template name="notFound">
	Not Found. Redirecting...
</template>

<template name="layout">
	{{> nav}}
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="col-sm-12">
				{{> yield}}
	    </div>
	  </div>
	</div>
</template>

<template name="glyphsetstable">
	<table id="glyphsetstable" class="table table-responsive">
		<thead>
			<tr>
				{{#each langs}}
					<th>{{name}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{> glyphsetsrows}}
  	</tbody>
  </table>
	<div class="well well-lg">
		<div class="row text-center">
			<span class="col-xs-8">
				<a class="btn btn-primary btn-block btn-lg checkresults">
					<i class="glyphicon glyphicon-white glyphicon-refresh"></i>
					Test Matches
				</a>
			</span>
			<span class="col-xs-2 text-center"><div>Score</div><div>{{score}}</div></span>
			<span class="col-xs-2 text-center"><div>Glyphsets</div><div>{{endNum}}</div></span>
		</div>
	</div>
	<div class="fixed-message"><div>Well Done!</div></div>
</template>

<template name="glyphsetsrows">
	{{#each glyphsets}}
		<tr class="glyphsetrow">
  		{{#each langs}}
	  		<td>
	  			<span id="{{key}}{{../_id}}" lang="{{key}}" glyphsetid="{{../_id}}">{{propOfObj key ..}}</span>
	  			<!--{{#if equals key 'e'}}
		  		<audio controls="controls">  
				  	<source src="http://translate.google.com/translate_tts?ie=utf-8&amp;tl={{googleLangOf key}}&amp;q={{propOfObj key ..}}" type="audio/mp3" />  
					</audio>
					{{/if}}-->
				</td>
  		{{/each}}
		</tr>
	{{/each}}
</template>
